{% extends 'base.html' %}
{% block js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'web_app/js/index.js'%}"></script>
{% endblock %}
{% block main %}
<div class="content-w3ls">
	<div class="form-w3ls">
		<form action="/result" method="post" onreset="get_reset()">
            {% csrf_token %}
            <div class="result_header"><span>Content Of Page :</span></div>
			<div class="content-wthree3">
				<div class="form-control">
{#					<label class="enquiry">Content Of Page <span>:</span></label>#}
					<textarea id="message" name="message" placeholder="Content Of Page" title="Please enter Your Queries"></textarea>
					<div class="clear"></div>
				</div>
			</div>
			<div class="content-wthree4">
				<div class="form-control">
					<input type="submit" class="register" value="Submit" >
					<input type="reset" class="reset" value="Reset">

					<div class="clear"></div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
